*,
::after,
::before {
    box-sizing: border-box;
}

body {
    color: var(--primary-color-dark);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

ul {
    padding: 0px;
    margin: 0px;
}
.main{
    background-image: url('/images/section-advantages.png');
    background-position: 0 1220px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section {
    margin-bottom: 96px;
    position: relative;
}

.secondary-title {
    color: var(--primary-color-dark);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-bottom: 48px;
}

.text-highlighting {
    color: var(--primary-color-blue);
}

.light-button {
    color: var(--primary-color-light);
    background-color: var(--primary-color-blue);
    width: 100%;
    border: 2px solid var(--primary-color-blue);
    font-size: 16px;
    font-weight: 600;
    border-radius: 32px;
    padding: 16px 32px;

    transition-duration: 0.2s;
}

.light-button:hover {
    background-color: transparent;
    color: var(--primary-color-dark);
}

.explanation-text {
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-color-dark-gray);
}

.hidden-block {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}