/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-color-light:#FFFFFF;
    --primary-color-blue:#2B7FFF;
    --primary-color-dark:#011C44;

    --secondary-color-dark-gray:#4A4A4A; 
    --secondary-color-light-gray:#747272;
    --secondary-color-dark:#011F4A;
    --secondary-color-yellow:#FFD02B;
    
}

body{
    color: var(--primary-color-dark);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
}
.header-link, .footer-link, .address-link {
    list-style-type: none;
}
h1,h2,h2,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1240px;    
    margin: 0 auto;
}
ul{
    padding:0px;
    margin: 0px;
}
.section{
    margin-bottom: 96px;
}

.secondary-title{
    color: var(--primary-color-dark);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-bottom: 48px;
}
.secondary-title span{
    color: var(--primary-color-blue);
}

.light-button{
    color:var(--primary-color-light);
    background-color: var(--primary-color-blue);
    width: 100%;
    padding: 16px 32px;
}

.explanation-text{
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-color-dark-gray);
}

/* header */
.logo{
    color: var(--primary-color-blue);
    font-weight: 700;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    max-width: 74px;
}
.header-link li{
    font-size: 18px;
}
.header-link a {
    color: var(--primary-color-dark);
}
.header-link{
    display: flex;
    gap: 56px;
}
.header-link a:hover {
    color:var(--primary-color-blue);
    font-weight: 700;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 0;
}

/* main section */
.primary-title{
    color: var(--primary-color-blue);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    font-family: 'Play', sans-serif;
    margin-bottom: 40px;
}
.main-section{
    width: 100%;
    max-width: 1134px;
    margin: 0 auto;
}
.main-section-container{
    width: 100%;
    max-width: 530px;
    margin: 16px 0px 126px 0px;
}
.main-section-container .light-button{
    margin-bottom: 14px;
}
.container-order{
    width: 100%;
    max-width: 220px;
    text-align: center;
}

/* section about clinic */
.about-section{
    margin-bottom: 176px;
}
.about-section-container{
    display: flex;
    gap: 32px;
}
.about-section p{
    font-size: 22px;
    line-height: 1.7;
}
.about-section-content .secondary-title{
    margin-bottom: 40px;
}
.about-section-content p:not(:last-child){
    margin-bottom: 40px;
}
.about-section .highlight-text{
    font-weight: 600;
}
.about-section .secondary-title{
    text-align: left;
    max-width: 529px;
}
.about-section-content{
    width: 100%;
    max-width: 709px;
}

/* section advantages */
.section-advantages h4{
    color:black;
    text-align: center;
}
.section-advantages-container{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}
.section-advantages-container .secondary-title{
    max-width: 450px;
    margin: 0 auto;
}
.section-advantages-blocks{
    display: flex;
    gap: 56px;
}
.section-advantages-blocks article{
    padding: 24px 32px;
}

/* procedures section */
.procedures-section h3{
    font-size: 22px;
    color: var(--primary-color-light);
} 
.procedures-container{
    display: flex;
    gap:16px;
    justify-content: center;
}
.procedures-container article{
    background-color: #2B7FFF; 
    width: calc((100% - 32px)/3);

}

/* location-section */
.location-section-container{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;

}

/* footer */
footer{
    background-color: red;
}
footer a{
    color: var(--primary-color-light);
}
.footer-container{
    display: flex;
    gap: 186px;
    padding: 56px 0;
}
