/* roboto-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
    --primary-color-light:#FFFFFF;
    --primary-color-blue:#2B7FFF;
    --primary-color-dark:#011C44;

    --secondary-color-dark-gray:#4A4A4A; 
    --secondary-color-light-gray:#747272;
    --secondary-color-dark:#011F4A;
    --secondary-color-yellow:#FFD02B;
    
}

*,
::after,
::before{
    box-sizing: border-box;
}

body{
    color: var(--primary-color-dark);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
ul {
    list-style-type: none;
}
h1,h2,h2,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1240px;    
    margin: 0 auto;
}
ul{
    padding:0px;
    margin: 0px;
}
.section{
    margin-bottom: 96px;
    position: relative;
}

.secondary-title{
    color: var(--primary-color-dark);
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-bottom: 48px;
}
.secondary-title span{
    color: var(--primary-color-blue);
}

.light-button{
    color:var(--primary-color-light);
    background-color: var(--primary-color-blue);
    width: 100%;
    padding: 16px 32px;
}

.explanation-text{
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-color-dark-gray);
}

/* header */
header{
    background-color: rgba(255, 255, 255, 0.25)
}
.logo{
    color: var(--primary-color-blue);
    font-weight: 700;
    font-family: 'Play', sans-serif;
    font-size: 22px;
    max-width: 74px;
    display: inline-block;
}
.header-link li{
    font-size: 18px;
}
.header-link a {
    color: var(--primary-color-dark);
}
.header-link{
    display: flex;
    gap: 56px;
}
.header-link a:hover {
    color:var(--primary-color-blue);
    font-weight: 700;
}
.header-social-media{
    display: flex;
    gap: 32px;
}
.header-social-media svg{
    height: 32px;
    width: 32px;
    fill: var(--primary-color-dark);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 0;
}

/* main section */
.primary-title{
    color: var(--primary-color-blue);
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    font-family: 'Play', sans-serif;
    margin-bottom: 40px;
}
header{
    background: linear-gradient(89.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%);
    background-color: rgba(255, 255, 255, 0.25)
}
header::after {
    content: '';
    background-image: url('/images/header-image.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1130px;
    height: 633px;
    z-index: -2;
    position: absolute;
    top: 0px;
    right: 0px;
}
.main-section{
    background: linear-gradient(89.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%);
    margin-bottom: 0px;

}
.main-section-container{
    width: 100%;
    max-width: 1028px;
    padding: 16px 0 0 206px;
    padding-bottom: 126px;
}
.main-section-contant{
    width: 50%;
}
.main-section-container .light-button{
    margin-bottom: 14px;
}
.container-order{
    width: 100%;
    max-width: 220px;
    text-align: center;
}

/* section about clinic */
.about-section{
    margin-bottom: 176px;
    height: 695px;
}
.about-section-container{
    position: relative;
    display: flex;
    gap: 32px;
}
.about-section p{    
    font-size: 22px;
    line-height: 1.7;
}
.about-section-content .secondary-title{
    margin-top: 40px;
    margin-bottom: 40px;
}
.about-section-content p:not(:last-child){
    margin-bottom: 40px;
}
.about-section .highlight-text{
    font-weight: 600;
}
.about-section .secondary-title{
    text-align: left;
    max-width: 529px;
}
.about-section-content{
    width: 100%;
    max-width: 709px;
}

.icon-star-1{
    position: absolute;
    width: 40px;
    height: 40px;
    content: '';
    fill: var(--primary-color-blue);
    right: -32px;
    top: 32px;
}
.icon-star-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    content: '';
    fill: var(--secondary-color-light-gray);
    right: 6px;
    top: 270px;
}
.icon-star-3 {
    position: absolute;
    width: 64px;
    height: 64px;
    content: '';
    fill: var(--secondary-color-dark);
    right: 295px;
    top: 336px;
}
.about-section-images{
    /* position: relative; */
}
.about-section-images img{
    border-radius: 50%;
}
.about-section-images img:last-child {
    position: absolute;
    right: 0;
    top: 367px;
}
/* section advantages */
.section-advantages h4{
    color:black;
    text-align: center;
}
.section-advantages-container{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}
.section-advantages-container .secondary-title{
    max-width: 450px;
    margin: 0 auto;
}
.section-advantages-blocks{
    display: flex;
    gap: 56px;
}
.section-advantages-blocks article{
    padding: 24px 32px;
}

/* procedures section */
.procedures-section h3{
    font-size: 22px;
    color: var(--primary-color-light);
} 
.procedures-section{
    display: flex;
    align-items: center;
    gap: 32px;
}
.procedures-list{
    display: flex;
    gap:16px;
    flex-grow: 1;
    justify-content: center;
}
.procedures-item{
    background-color: var(--primary-color-blue); 
    flex-basis: calc((100% - 32px)/3);
}
.carousel-button {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary-color-dark);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carousel-button svg{
    width: 16px;
    height: 16px;
    fill: var(--primary-color-dark);
}
.carousel-button:hover{
    background-color: var(--primary-color-blue);
    border: 2px solid var(--primary-color-light);
}
.carousel-button:hover svg{
    fill: var(--primary-color-light);
}

/* location-section */
.location-section-container{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;

}
.contact-map{
    width: 605px;
    height: 481px;
    border-radius: 32px;
    border: none;
}

/* footer */
footer{
    position: relative;
    background: var(--primary-color-dark) url('/images/background.png') 0 0/cover no-repeat;
}
footer::after{
    position: absolute;
    width: 250px;
    height: 150px;
    bottom: 0;
    right: 0;
    background-image: url(/images/footer-img.png);
    background-repeat: no-repeat;
    
    content: '';
}
footer a{
    color: var(--primary-color-light);
    font-style: normal;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 56px 0;
}
.footer-social-media{
    display: flex;
    gap: 24px;
}
.footer-social-media svg {
    height: 42px;
    width: 42px;
    fill: var(--primary-color-light);
}
.footer-link li:not(:last-child), .address-link li:not(:last-child), address ul:not(:last-child){
    margin-bottom: 16px;
}
.explanation-text{
    margin-top: 16px;
}
