:root {
    --primary-color-light: #FFFFFF;
    --primary-color-blue: #2B7FFF;
    --primary-color-dark: #011C44;

    --secondary-color-dark-gray: #4A4A4A;
    --secondary-color-light-gray: #747272;
    --secondary-color-dark: #011F4A;
    --secondary-color-yellow: #FFD02B;

}