.location-section {
    margin: 0;
    @media screen and(min-width:$bp-tablet) {
        margin-bottom: 40px;
    }
    @media screen and(min-width:$bp-desktop) {
        margin-bottom: 96px;
    }
    &__container{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 24px;     
        @media screen and(min-width:$bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }
    &__form-container{
        border-radius: 48px;
        order: 1;
        background: var(--primary-color-dark) url('/images/modal-background.png') 0 0/cover no-repeat;
        padding: 42px 24px;
        text-align: center;
        @media screen and(min-width:$bp-tablet) {
            order: 2;
            padding: 48px 56px;
        }
    }
    &__contact-map {
        flex-shrink: 0;
        margin: 0 -20px;
        border: none;
        order: 2;        
        @media screen and(min-width:$bp-tablet) {
            order: 1;
            margin: 0;
            flex-basis: 50%;
            border-radius: 32px;
        }
        @media screen and (min-width:$bp-desktop) {
            order: 1;
            margin: 0;
            flex-basis: 605px;
            height: 481px;
            width: 605px;
            border-radius: 32px;
        }
    }
}

// .location-section-container .form-container {
//     border-radius: 48px;
//     background: var(--primary-color-dark) url('/images/modal-background.png') 0 0/cover no-repeat;
//     padding: 48px 56px;
//     text-align: center;
// }