.advantages-section {

    &__container {
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;

        & .secondary-title {
            max-width: 450px;
            margin: 0  auto 48px auto;
        }
    }

    &__blocks{
        display: flex;
        gap: 56px;
        
        & svg {
            width: 48px;
            height: 48px;
            fill: #2B7FFF;
        }
        & article {
            padding: 24px 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            text-align: center;
            color: black;
            width: 316px;
            height: 181px;
            padding: 24px, 32px, 24px, 32px;
            border-radius: 32px;
            background-color: var(--primary-color-light);
        }
    }
}