.link:hover {
    color: var(--primary-color-blue);
    font-weight: 700;
}

.header-link a:hover,
.footer__nav a:hover,
.footer__contact a:hover,
.footer__terms a:hover {
    color: var(--primary-color-blue);
    font-weight: 700;
}