.procedures-section {
    &__slider{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__list{
        margin-bottom: 32px;
    }

    &__container{
        overflow: hidden;
    }

    &__carousel-button {
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid var(--primary-color-dark);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.2s;

        & svg {
            width: 16px;
            height: 16px;
            fill: var(--primary-color-dark);
        }

        &:hover {
            background-color: var(--primary-color-blue);
            border: 2px solid var(--primary-color-light);
        }
        &:hover svg {
            fill: var(--primary-color-light);
        }
        &_right-arrow {
            transform: rotate(180deg);
        }
    }
}